.header {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header > button {
  position: relative;
  top: 0.5rem;
}

.workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background: linear-gradient(
    90deg,
    rgba(253, 162, 193, 1) 0%,
    rgba(133, 123, 252, 1) 100%
  );
}

.workout > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
