/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  transition: all 0.5s ease-in-out;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: black;
  color: white;
}

/* Remove default padding and border */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Remove background and border from focused elements */
:focus {
  outline: 0;
}
